@use "sass:math";
@import "style";

.header{
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  &__wrapper{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
  }
  &__body{
    display: flex;
    align-items: center;
    padding: 5px 0;
    min-height: 125px;
  }
  &__main{
    display: flex;
    align-items: center;
    flex: 0 0 math.div(494, 1240) * 100%;
  }
  &__logo{
    color: #000;
    font-weight: 700;
    font-size: 24px;
    line-height: math.div(29, 24) * 100%;
  }
}
.menu{
  flex: 0 1 420px;
  &__list{
    @media (min-width:$md3+px){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
    }
  }
  &__sub-list{
    display: none;
  }
}
.menu__sub-list{
  display: none;

}