@use "sass:math";
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================
//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Gilroy";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================
//</ШРИФТЫ>=======================================================================================================
//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1270;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
$mainColor: #3A3A3A;
$orangeColor: #e89f71;
$grayColor: #898989;
$darkGrayColor: #616161;
//</ПЕРЕМЕННЫЕ>===========================================================================================================
//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
  color: $mainColor;
  &._lock {
    overflow: hidden;
  }
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &._loaded {
  }
}
//</ОБОЛОЧКА>===========================================================================================================
//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
  max-width: $maxWidthContainer + px;
  padding: 0 15px;
  margin: 0 auto;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
  flex: 1 1 auto;
  &__main-slider {
  }
}
.main-slider {
  background: #fcf8f3;
  &__container {
    position: relative;
    @media (min-width: $md2+px) {
      &::before {
        content: '';
        background: #f9f1e7;
        position: absolute;
        top: 0;
        width: 100vw;
        right: 376px;
        height: 100%;
      }
    }
  }
  &__body{
    padding: 140px 0 0 0;
    position: relative;
    z-index: 2;
    @media (max-width: $md2+px) {
      padding: 80px 0 0 0;
    }
    @media (max-width: $md3+px) {
      padding: 50px 0 0 0;
    }
    @media (min-width: $md2+px) {
      display: flex;
    }
  }
  &__content{
    flex: 0 0 math.div(494, 1240) * 100%;
  }
  &__slider {
    flex: 1 1 auto;
    min-width: 0;
  }
}
.content-main{
  position: relative;
  z-index: 5;
  padding-left: 15px;
  padding-right: 15px;
  background: rgba(255,255,255,0.72);
  @include adaptiv-value("padding-top",60,15,1);
  @include adaptiv-value("padding-bottom",60,15,1);
  @media (min-width: $md2+px) {
    @include adaptiv-value("padding",60,1,1);
    background: rgba(255,255,255,0.9);
    @supports ((-webkit-backdrop-filter: blur(31px)) or (backdrop-filter: blur(31px))) {
      background: rgba(255,255,255,0.72);
      backdrop-filter: blur(31px);
    }
  }
  &__title{
    @include adaptiv-value("font-size",56,24,1);
    font-weight: 700;
    line-height: 120%;
    &:not(:last-child) {
      margin: 0 0 math.div(16, 56) * 1em 0;
    }
  }
}